<h1>Order your symphonic t-shirt</h1>

<form id="new_order" method="post" action="/orders" >

<span id="nameLabel">Your name</span>
<input type="text" name="order[name]" />

<span id="addressLabel">Your address</span>
<textarea name="order[address]" ></textarea>

<input type="submit" value="Send it to me asap" />

</form>
