<!DOCTYPE html>
<html>
<head>
  <title>Symphonie humaine</title>
  <%= csrf_meta_tags %>
</head>
<body style="background: #000;color: #FFFFFF;">

<table border="0">
  <tr>
    <td valign="top"><a href="/" ><img src="/logo.png" width="100" height="100" /></a></td>
    <td valign="top"><%= yield %></td>
  </tr>
</table>

</body>
</html>
